.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  font-size: 30px;
}

.header__logo {
  height: 30px;
  object-fit: contain;
  margin-left: 10px;
}

.header__center {
  display: flex;
  align-items: center;
  width: 40%;
  height: 35px;
  border: 1px solid rgb(7, 7, 7);
  border-radius: 20px;
  padding-left: 10px;
}

.header__searchbutton {
  width: 20px !important;
  border-color: #fafafa;
  border-left: 1px solid rgb(156, 155, 155);
  color: rgb(10, 10, 10);
  /* padding: 3px; */
  margin-right: 10px;
  margin-bottom: -2px;
  padding-left: 10px;
  /* margin-left: 10px; */
  cursor: pointer;
  /* background-color: lightgray; */
}

.header__searchbutton:hover {
  /* width: 25px !important; */
  color: red;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__icon {
  margin-right: 12px;
}

.header__center > input {
  flex: 1;
  border: none;
  outline: none;
  /* border-radius: 10px; */
  /* padding: 10px; */
}

span {
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  margin-top: 8px;
}
